<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>insightSt.</title> 
  <link href="{{ STATIC_URL }}stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
  <!--[if IE]>
    <script src="{{ STATIC_URL }}javascripts/html5.js" type="text/javascript"></script>
  <![endif]--> 

</head>
<body class="index-container">
  <header>
    <h1>insightSt.</h1>
    <nav>
      <ul>
        <li><a href="http://www.bonn-innovative.com/" target="_blank">About</a></li>
        <li><a href="mailto:service@insightst.com">Contact</a></li>
      </ul>
    </nav>
    <p class="copyright">&copy; 2013 BONN-innovative, Inc</p>
  </header>
  <div class="container">
    <div class="title">
      <h2><img src="{{ STATIC_URL }}images/logo.png" alt="insightSt. LOGO" /></h2>
      <a href="#" target="_blank" class="download"></a>
    </div>
    <div class="mobile"></div>
  </div>
  

  <script src="{{ STATIC_URL }}javascripts/jquery-1.6.4.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.backstretch.min.js"></script>
  <script>
      $('.index-container').backstretch("{{ STATIC_URL }}images/mall.png");
  </script>
</body>
</html>
